[submodule "3rd/ElaWidgetTools"]
	path = 3rd/ElaWidgetTools
	url = https://github.com/Liniyous/ElaWidgetTools
[submodule "3rd/CSerialPort"]
	path = 3rd/CSerialPort
	url = https://github.com/itas109/CSerialPort
[submodule "3rd/libssh2"]
	path = 3rd/libssh2
	url = https://github.com/libssh2/libssh2.git
